<% include partials/header %>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Excersize App</h1>
        </div>
    </div>
    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Consequat mauris nunc congue nisi vitae suscipit tellus mauris a. Tristique senectus et netus et
        malesuada fames ac turpis. Nulla pharetra diam sit amet. Ullamcorper eget nulla facilisi etiam dignissim diam.
        Quam viverra orci sagittis eu volutpat odio. Nunc pulvinar sapien et ligula. Suscipit tellus mauris a diam
        maecenas. Varius vel pharetra vel turpis nunc. Posuere morbi leo urna molestie at elementum eu. Eu sem integer
        vitae justo eget. Vel turpis nunc eget lorem dolor sed viverra.
    </div>
</div>
<% include partials/footer %>